body {
	background-color: #F3F2F2;
}

ul {
	list-style-type: none;
}

a {
	font-size: large;
	color: black;
}

li {
	border-radius: 4px;
}

.panel-footer {
	margin-bottom: 4%;
}

.panel-header {
	text-align: center;
	font-size: large;
	margin-top: 1%;
	background-color: #f5f5f5;
}

#btn_lend_book, #btn_lend_magazine {
	margin-right: 3%;
}

.lendBook, .lendMagazine{
	font-size: large;
	background-color: beige;
}

.btn_edit {
	margin-bottom: 3%;
	font-size: large;
	background-color: beige;
}
h1{
	margin: auto;
	margin-top: 1%;
	width: 40%;
	margin-bottom: 1%;
}
img {
	vertical-align: middle;
	width: 100%;
}